<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app"></div>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            items: ['uno', 'dos', 'tres']
          }
        },
        methods: {
          rmv(position) {
            this.items = this.items.filter((el, i) => i != position)
          }
        },
        template: `<ul>
          <v-item v-for="(item,i) in items" v-bind:text="item" v-on:remove="rmv(i)" :key="i"/> 
        </ul>`
      })

      app.component('v-item', {
        props: {
          text: {
            type: String
          }
        },
        methods: {
          removed() {
            this.$emit('remove')
          }
        },
        template: `
          <li v-on:click="removed">{{text}}</li>
        `
      })

      const vm = app.mount('#app')
    </script>
  </body>
</html>
<!-- 
    
    const app = Vue.createApp({
      data() {
        return {
          items: ['uno', 'dos', 'tres']
        }
      },
      template: `
        <ul>
          <v-item v-for="(item,i) in items" v-bind:text="item" :key="i"></v-item>  
        </ul>
      `
    })
    
    app.component('v-item', {
      props:{
        text:{
          type:String,
          default:'texto vacio'
        }
      },
    
      template: `
        <li>
          {{text}}
        </li>`
    })
    
    const vm = app.mount('#app')

  -->
